MySQL:
  hostname: ${db_host}
  username: ${db_username}
  password: ${db_password}

Jira:
  hostname: ${jira_host}
  username: ${jira_username}
  password: ${jira_password}

CleanBranch:
  pattern:  ${pattern}

PurgeService:
  pattern: ${instancePattern}
