MySQL:
  hostname: ${db_host}
  username: ${db_username}
  password: ${db_password}

CleanBranch:
  hostname: ${host}
  username: ${username}
  password: ${password}
  pattern:  ${pattern}

PurgeService:
  pattern: ${instancePattern}
